/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url('../img/imagemlogin.jpg');
    background-size: cover; 
    background-position: center; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 50px;
    color: #333;
}

.input-container {
    margin-bottom: 50px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"] {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 150%;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
